
@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid bg-image"  style="background-image: url('/images/homeBg.jpg'); background-size: cover; height: 100vh; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center;">

</div>
